section {
  margin: 0 auto;
  width: 90%;
  @media screen and (max-width: 425px) {
    width: 95%;
  }
}

.select_type_wrapper {
  display: flex;
  justify-content: end;
}

.select_type {
  border-radius: 5px;
  text-align: center;
}
